body {
    font-family: 'Alumni Sans', sans-serif;
    width: 100%;
}
    
  .bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
} 

  .content1 {
        position:fixed;
        top: 10%;
        bottom: 45%;
        width: 100%;
      }
  .content2 {
        position:fixed;
        bottom: 30%;
        width: 100%;
      }
 .header-image{
  top: 10px;
 } 

 .email-icon-container{
    position:fixed;
    top: 10%;
    bottom: 70%;
    width: 50%;
 }
 
 .icon-container{
  position: fixed;
  right:0px;
  top:0px;
  z-index: 200;
}
svg{
  fill: rgb(0, 0, 0);
}
  
  h1 {
    color: rgb(255, 20, 243);
    margin-left: 20px;
    font-size: 300px;
  }
  h2 {
    color: rgb(251, 6, 6);
    margin-left: 20px;
    font-size: 70px;
    font-weight: 100;
  }
  li{font-size: 40px;}
  li{color: rgb(5, 5, 5);}