body {
    font-family: 'Alumni Sans', sans-serif;
    width: 100%;
}

@media screen and (max-width: 1200px) {
  body{
   margin: 0 auto;
  }
 .card{
   display: grid;
   width: 60%;
   /* centers the card */
   margin-left:auto;
   margin-right:auto;
   margin-top:30px;
 }
   }
    
  .bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: 0;
    width: 0;
} 
  .content1 {
        position:fixed;
        top: 10%;
        bottom: 45%;
        width: 60%;
        right: 40%;
      }
  .content2 {
        position:fixed;
        bottom: 30%;
        width: 100%;
        right: -3%;
      }
 .header-image{
  top: 10px;
 } 

 .email-icon-container{
    position:fixed;
    top: 10%;
    bottom: 70%;
    width: 8%;
    right: 5%;
 }
 
 .icon-container{
  position:fixed;
  top: 30%;
  bottom: 70%;
  width: 8%;
  right: 5%;
  z-index: 200;
}

.my-logo-container {
  position:fixed;
  top: 80%;
  bottom: 50%;
  width: 10%;
  right: 4%; 
}

.linkedin-icon-container {
  position:fixed;
  top: 10%;
  bottom: 50%;
  width: 8%;
  right: 5%;
}
/* svg{
  fill: rgb(255, 255, 255);
} */